.container-empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.operation-bar {
    text-align: left;
    margin: 10px 0px;
}
.container {
    margin: 20px;
}